<template name="info">
    {{init}}
    <div id="notification">
        <img src="/img/new_icon.gif" class="img-responsive">
        <span id="countTimeout"></span>
    </div>
    {{#let quotas=config.quotas images=config.images}}
        <div class="quotation">
            {{#each quotas}}
                <div class="contentQuota">
                    <p>{{title}}<br>
                        <em>{{author}}</em>
                    </p>
                </div>
            {{/each}}
        </div>
        <div class="slideshow-container">
            {{#each images}}
                <div class="mySlides" id="mySlide" style="background-image: url({{url}})">
                    <div id="contentImage">
                        <p>{{title}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/let}}
    <div class="container-fluid" style="
        <!--{{#if config}}-->
        {{#let backgroundImage=config.style.backgroundImage backgroundColor=config.backgroundColor}}
        {{#if backgroundImage}}
            background-image: url('{{ backgroundImage }}');
        {{else}}
            background-color: {{ backgroundColor }};
        {{/if}}
        {{/let}}
        <!--{{/if}}-->
        ">
        <div class="row row-eq-height" id="header">
            <div class="col-sm-7 col-lg-7 headerLeft">
                <a href="/cft"><img class="col-sm-3 col-lg-3" id="fimoLogo" alt="logo fimo" src=" {{ config.style.fimoIcon }}"/></a>
                <h4 class="col-sm-9 col-lg-9">Center of Multidisciplinary Integrated Technologies for Field Monitoring University of Engineering and Technology, Vietnam National University</h4>
            </div>
            <div class="col-sm-3 col-lg-3 headerRight">
                <div class="row">
                <!--{{#if config}}-->
                {{#let weather=config.weather}}
                    <div class="col-sm-3 col-lg-3" id="iconWeather"><img src="http:{{weather.imgLink}}"></div>
                    <div class="col-sm-9 col-lg-9">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12" id="temp">Hà Nội {{weather.temp}}°C</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12" id="hum">Độ ẩm {{weather.hum}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12" id="wind">Tốc độ gió {{weather.wind}}</div>
                        </div>
                    </div>
                {{/let}}
                <!--{{/if}}-->
                </div>
            </div>
            <div class="col-sm-2 col-lg-2" id="clock">
                <article class="clock img-responsive">
                    <div class="hours-container">
                        <div class="hours"></div>
                    </div>
                    <div class="minutes-container">
                        <div class="minutes"></div>
                    </div>
                    <div class="seconds-container">
                        <div class="seconds"></div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 content">
                <div class="row">
                    <div class="col-sm-12 col-lg-12" id="titleContent">
                        <span class="glyphicon glyphicon-calendar"></span> LỊCH CÔNG TÁC: (Tuần {{ config.time }})
                    </div>
                    <hr class="class14"/>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <table class="table none-border">
                            <thead>
                            <tr>
                                <th class="col-sm-1 col-lg-1 col-day">Ngày</th>
                                <th class="col-sm-4 col-lg-4 col-content">Nội dung</th>
                                <th class="col-sm-1 col-lg-1 col-hour-start">Bắt Đầu</th>
                                <th class="col-sm-1 col-lg-1 col-hour-end">Kết Thúc</th>
                                <th class="col-sm-2 col-lg-2 col-place">Địa Điểm</th>
                            </tr>
                            </thead>
                            <!--</table>
                  <marquee scrollamount="2" direction='up' height="80%">
                  <table class="table none-border" id="mainContent">-->
                            <tbody id="contentTable">

                            </tbody>
                        </table>
                        <!--</marquee>-->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" >
            <div class="col-sm-12 col-lg-12 focus">
			<span class="col-fixed-left">
				<span class="glyphicon glyphicon-bullhorn"></span> Tin Nổi Bật: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<marquee class="col-fixed-right" behavior="scroll" hspace="10" scrollamount="6" id="focus">
				</marquee></span>
            </div>
        </div>
    </div>
</template>
